<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Sobre</title>
</head>

<body>
    <h1>Sobre</h1>
    <p>author: Nicolas de Paula Pacheco</p>
    <p>version: 1.0</p>
    <p>licença MIT <img src="../public/img/mit.png" alt="MIT"></p>
   

    <!-- rodapé -->
    <footer class="Ok">
        <button class="Okbtn" onclick="window.close()">Ok</button>
    </footer> 
    <!-- css personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">

    <script src="renderer.js"></script>
</body>

</html>